<div [ngBusy]="{busy: busyService.busy, message: 'Cargando cliente...', backdrop: true}"></div>
<div mat-dialog-content class="dialog">
  <div class="container">
    <div class="row global-content">
      <div class="col-sm-12 title">
        Datos del cliente
      </div>
      <p><label>Nombre: </label> {{data.name}}</p>
      <p><label>Apellidos: </label> {{data.lastName}}</p>
      <p><label>Edad: </label> {{data.age}}</p>
      <p><label>Fecha de nacimeinto: </label> {{data.birthDate}}</p>
      <p><label>Proyección de falleciemiento: </label> {{deathDate}}</p>
    </div>
  </div>
  <button mat-flat-button class="dialog-close" (click)="closeDialog()"  mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div> 
