<div mat-dialog-content class="dialog">
  <div class="container">
    <div class="row global-content">
      <div class="col-sm-12 title">
        Datos del cliente
      </div>
      <p><strong>Nombre: </strong>{{data.name}}</p>
      <p><strong>Apellidos: </strong>{{data.lastName}}</p>
      <p><strong>Edad: </strong>{{data.age}}</p>
      <p><strong>Fecha de nacimeinto: </strong>{{data.birthDate}}</p>
      <p><strong>Proyección de falleciemiento: </strong>{{deathDate}}</p>
    </div>
  </div>
  <button mat-flat-button class="dialog-close" (click)="closeDialog()"  mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div> 
