.content-header{
    margin-bottom: 15px;
} 

.subtitle{
    display: inline-flex;
    width: 100%;
}

.info, .btn-new-system{
    width: 100%; 
}

.info{
    font-size: 13px;
}

.title{
    font-size: 23px;
}