.icon-action{
    cursor: pointer;
}
 
button{
    border-radius: 20px;
}

.content-buttons button{
    border-radius: 5px !important;
}

input{
    background: #fafafa !important;
}

.save{
    background: #044583;
}

mat-panel-title{
    font-weight: 600;
}

.content-card{
    padding: 30px !important;
}

.icon-see{
    height: 70px;
    width: 70px;
    font-size: 70px;
    color: silver;
} 

.text-not-search{
    margin-top: 20px;
    width: 100%;
    padding: 3% 0;
    text-align: center;
}

.newCustomer{
    background: #0ba5b3;
    color: white;
    border-radius: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.text-not-search p{
    color: gray;
} 
  
.content-global{
    margin-top: 20px;
    margin-bottom: 20px;
}

.header{
    background: #404090;
    padding: 14px;
    color: white;
}

mat-card{
    padding: 0 !important;
}

.average{
    font-size: 14px;
}

.info-table{
    color: #013a70;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}

.info-table mat-icon{
    position: relative;
    top: 6px;
}

