<div [ngBusy]="{busy: busyService.busy, message: 'Cargando clientes...', backdrop: true}"></div>
<mat-card class="content-global container">
    <h5 class="header">
      Información de clientes
    </h5>
    <div class="container">
      <div align="right"> 
        <button mat-flat-button (click)="openDialogNewCustomer()" class="newCustomer">
            <mat-icon>person_add</mat-icon> Nuevo cliente
        </button>
      </div>
      <ng-container *ngIf="customerList.length>0">
        <p class="average"> <strong>La edad promedio de los clientes es:</strong> {{average}}</p>
        <p class="average"> <strong>La desviación estándar de los clientes es:</strong> {{standardDeviation}}</p>
        <div class="info-table">
          <mat-icon>
            label_important
          </mat-icon>
          Lista de clientes registrados</div>
        <app-customer-list
        [customerList]="customerList"
        (actionIcon)="actionIcon($event)"
        >
        </app-customer-list>
      </ng-container>
    </div> 
    <br>
</mat-card>