/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
    background: #f8f9fa !important;
}

.mat-datepicker-content .mat-calendar
{ 
     zoom: 0.85 !important;
}
 
.mat-dialog-container{
    padding: 0 !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

button:focus {
    outline: 0 !important;
    box-shadow: none!important;
}
 

.closeDialog{
    background: white !important;
    color: black !important;
    border: 1px solid !important;
    margin-right: 5px !important; 
}